.content{
    display: flex;
    width: 85%;
    margin: auto;
    position: absolute;
    z-index: 1000;
    top: 50px;
    left: 70px;
   margin-left: 40px;
}
.content-left-banner{
    width: 50%;
    margin: auto;
}
.content-left-banner h1{
    font-size: 40px;
    padding-right: 25%;
    line-height: 52px;
}
.content-left-banner p{
    margin-top: 40px;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 40px;
    padding-right: 200px ;
}
.content-left-banner span{
    color: #ffffff;
    font-weight: bold;
}
.button-head{
    width: 200px;
    height: 55px;
    font-size: 20px;
    background-color: #9EA4A9;
    color: #ffff;
    font-weight: bold;
    line-height: 55px;
    text-align: center;
    border-radius: 10px;
}
.content-right-banner{
    height: 590px;
    background-image: url("https://html.themexriver.com/pixer/images/resource/1.png");
    z-index: 2;
    width: 50%;
    background-size: 100% 100%;
}
@media only screen and (min-width:740px) and (max-width: 1024px){
    .content-left-banner p{
        padding-right: 29px ;
        font-size: 15px;
    }
    .button-head{
        width: 180px;
        height: 55px;
        font-size: 20px;
        background-color: #9EA4A9;
        color: #ffff;
        font-weight: bold;
        line-height: 55px;
        text-align: center;
        border-radius: 15px;
    }
    .content-right-banner{
        height: 400px;
    }
}
@media screen and (max-width:740px){
  .content{
      display: block;
  }  
  .content-left-banner{
      width: 100%;
  }
  .content-left-banner h1{
      font-size: 40px;
      padding-right: 0;
  }
  .content-left-banner p{
      padding-right: 0;
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .content-right-banner{
      width: 80%;
      height: 300px;
      margin: 40px auto;
  }
  .content{
      left: 0;
  }
  .button-head{
    width: 160px;
    height: 50px;
    font-size: 18px;
    background-color: #9EA4A9;
    color: #ffff;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    border-radius: 15px;
  }
} 
